@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,200&display=swap");

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-variant: normal;
  color: #979f9b;
  background-color: black;
}
.navbar {
  display: flex;
  padding: 10px;
  margin: 0 10px;
  justify-content: space-between;
}

.navbar a.active {
  color: #64ffda;
}
.navbar a:hover:not(.active) {
  color: #ffffff;
}

.name,
.nav-links,
a {
  text-transform: uppercase;
  color: #979f9b;
}
.topnav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.topnav .nav-links,
a {
  text-decoration: none;
  padding-left: 20px;
  font-size: 20px;
}
.name {
  font-size: 25px;
}
.surname {
  color: #64ffda;
}
.dropdownLink {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 40px;
  justify-content: space-between;
  align-items: center;
}
.container .project {
  display: flex;
  align-items: center;
  gap: 50px;
}
.project-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.project-description {
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: #112240;
  color: #a8b2d1;
  font-size: 18px;
  max-width: 500px;
}
.project-title {
  font-size: clamp(24px, 5vw, 28px);
  color: rgb(219, 225, 243);
}
.project-links a svg:hover {
  color: #64ffda;
}
.project-links a svg {
  width: 20px;
  height: 20px;
}
.tech-stack {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}
.project-image img {
  width: 400px;
  border-radius: 20px;
  height: 300px;
}

li {
  padding-inline-start: 10px;
}

p {
  font-size: 20px;
}
img {
  width: 200px;
  height: 200px;
}

.right {
  flex-direction: row-reverse;
}
footer {
  text-align: center;
}

@media (max-width: 768px) {
  ul.topnav li a.nav-links {
    display: none;
  }
  ul.topnav li.dropdownLink {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  ul.topnav.responsive li.dropdownLink {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  ul.topnav.responsive {
    flex-direction: column;
    text-align: right;
  }

  ul.topnav.responsive li {
    position: relative;
    top: 30px;
    right: 30px;
  }

  ul.topnav.responsive li a.nav-links {
    display: block;
    line-height: 2;
  }
}
