html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
}
a:hover {
  color: #66b6d3;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 50px;
}

.resume-container {
  width: 60%;
}
h2 {
  font-weight: 400;
  letter-spacing: 1px;
  color: #4a4a4a;
}
.time-location {
  display: grid;
  grid-template-columns: 250px 250px;
}
.icons {
  display: flex;
  gap: 4px;
}

.navbar {
  display: flex;
  padding: 10px;
  margin: 0 10px;
  justify-content: space-between;
}
.name,
.nav-links,
a {
  text-transform: uppercase;
  color: #303137;
}
.topnav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.topnav .nav-links,
a {
  text-decoration: none;
  padding-left: 20px;
  font-size: 20px;
}
.name {
  font-size: 25px;
}
.surname {
  color: #66b6d3;
}
.dropdownLink {
  display: none;
}

header {
  display: flex;
  justify-content: center;
}

.headshot-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  gap: 10px;
}
.headshot-wrapper li {
  display: inline;
}

.h2 {
  display: flex;
  flex-direction: row;
  color: #055674;
}
.headshot {
  border-radius: 50%;
  max-width: 200px;
  width: 100%;
}
.services,
.contact-container {
  background-color: #f1f3fa;
  padding: 4rem 1rem;
}

@media (max-width: 768px) {
  ul.topnav li a.nav-links {
    display: none;
  }
  ul.topnav li.dropdownLink {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  ul.topnav.responsive li.dropdownLink {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  ul.topnav.responsive {
    flex-direction: column;
    text-align: right;
  }

  ul.topnav.responsive li {
    position: relative;
    top: 30px;
    right: 30px;
  }

  ul.topnav.responsive li a.nav-links {
    display: block;
    line-height: 2;
  }
}
