@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,200&display=swap");

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-variant: normal;
  color: #979f9b;
  background-color: black;
}
.navbar {
  display: flex;
  padding: 10px;
  margin: 0 10px;
  justify-content: space-between;
}

.navbar a.active {
  color: #64ffda;
}
.navbar a:hover:not(.active) {
  color: #ffffff;
}

.name,
.nav-links,
a {
  text-transform: uppercase;
  color: #979f9b;
}
.topnav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.topnav .nav-links,
a {
  text-decoration: none;
  padding-left: 20px;
  font-size: 20px;
}
.name {
  font-size: 25px;
}
.surname {
  color: #64ffda;
}
.dropdownLink {
  display: none;
}

footer {
  text-align: center;
}
.container {
  width: 60%;
  margin: 50px 200px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.intro {
  font-size: 40px;
  color: #64ffda;
  font-weight: 200;
}
.letter {
  font-size: 44px;
  color: rgb(219, 225, 243);
  font-weight: 300;
}
.profession {
  font-weight: 200;
  letter-spacing: 0.1px;
  font-size: 40px;
  color: rgb(136, 146, 176);
}

.wave-hand {
  margin-left: 5px;
  cursor: pointer;
}
.wave-hand:hover {
  animation-duration: 1s;
  animation-name: wave;
}

@keyframes wave {
  15% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  30% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }
}

@media (max-width: 768px) {
  ul.topnav li a.nav-links {
    display: none;
  }
  ul.topnav li.dropdownLink {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  ul.topnav.responsive li.dropdownLink {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  ul.topnav.responsive {
    flex-direction: column;
    text-align: right;
  }

  ul.topnav.responsive li {
    position: relative;
    top: 30px;
    right: 30px;
  }

  ul.topnav.responsive li a.nav-links {
    display: block;
    line-height: 2;
  }
}
